<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Scroll To Top Component</title>
		
		
		<link rel="stylesheet" href="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-bootstrap\4.3.1\css\bootstrap.css" />
		<link rel="stylesheet" href="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-fontawesome\css\4.7.0\font-awesome.css"/>
		<link rel="stylesheet" href="..\..\..\..\..\..\..\foundation.ui.content\src\main\content\jcr_root\etc\clientlibs\subra\fonts-happymonkey\css\fonts.css">
		<link rel="stylesheet" href="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-global\css\global.css">
		
		<script src="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-jquery\clientlib-jquery-standalone\js\jquery-3.4.1.js"></script>
		<script src="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-bootstrap\4.3.1\js\bootstrap.bundle.js"></script>
		
		<script src="..\..\..\..\content\jcr_root\apps/kajado\clientlibs\third-party\clientlib-masonry\js\masonry.js"></script>
		
		<script src="..\..\..\..\content\jcr_root\apps/kajado\clientlibs\clientlib-global\js\ajax-manager.js"></script>
		<script src="..\..\..\..\content\jcr_root\apps/kajado\clientlibs\clientlib-global\js\cookie-manager.js"></script>
		<script src="..\..\..\..\content\jcr_root\apps/kajado\clientlibs\clientlib-global\js\url-manager.js"></script>
		<script src="..\..\..\..\content\jcr_root\apps/kajado\clientlibs\clientlib-global\js\test.js"></script>
		
		<link rel="stylesheet" href="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-global\css\home.css"/>
		<link rel="stylesheet" href="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-global\css\carousel.css"/>
		<link rel="stylesheet" href="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-global\css\mansory.css"/>
	</head>
	<body class="subra">
	
		
		
		<!-- -------------------- -->
			<!-- Heading        COPIED      -->
			<!-- -------------------- -->
			<div class="scomponent subra-heading text-center">
				<h1>Development Header</h1>
			</div>


			<!-- -------------------- -->
			<!-- TEXT IMAGE           -->
			<!-- -------------------- -->
			<div class="scomponent subra-text-image">
				<h2>Welcome!!!</h2>
				<p>Some exiting content coming soon..</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in diam vitae justo faucibus aliquet. Maecenas efficitur risus nec fringilla euismod. Etiam at mi non velit porttitor venenatis. Quisque gravida non nisl at suscipit. Nulla vel sapien et nunc vestibulum porta. Nulla at maximus neque. Nunc at commodo orci, quis efficitur metus. Vivamus gravida mi eros. Integer ut accumsan orci. Mauris quis odio nec risus finibus vehicula. Mauris a neque eu urna iaculis rutrum sit amet id leo. Phasellus vitae mi neque. Aenean orci quam, tincidunt ut scelerisque et, tristique a eros.
				</p>
				
				<p>
					Cras hendrerit vel sapien eget molestie. Proin est orci, mattis sit amet velit vitae, ultricies sollicitudin magna. Etiam consectetur odio sit amet diam sagittis, eu bibendum mauris posuere. Quisque imperdiet, orci sit amet posuere porttitor, ante mauris dictum leo, ut ultricies mauris diam eget turpis. Proin id cursus ante. Ut vitae feugiat lorem. Vivamus molestie gravida odio, vitae porttitor quam tristique id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Nulla facilisi. Donec interdum purus nec purus iaculis sagittis.
				</p>
				<img class="float-left ml-0 mr-3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
				<p>
					Maecenas convallis et orci in interdum. Nunc fermentum libero id leo commodo, ac convallis est laoreet. Pellentesque eget purus metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer sit amet consequat quam, eu molestie eros. Ut in eros eget erat pellentesque pharetra id eleifend felis. Vestibulum vestibulum mauris enim. Praesent vel sapien ultrices massa condimentum condimentum. Sed euismod luctus purus a vehicula. Fusce tincidunt mi nec lorem fermentum auctor. Nullam vel velit eu sapien sollicitudin ultricies. Curabitur sit amet arcu id diam consectetur consectetur vitae vel ligula. Fusce tincidunt in lectus nec fermentum. Nulla molestie a urna sed tincidunt. Donec ultrices mauris nunc, non egestas eros fermentum vitae.
				</p>
				<p>
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In nec libero non mauris condimentum blandit ultrices vel diam. Pellentesque semper massa id mauris aliquam, vel efficitur mi eleifend. Proin placerat nisi eros, et eleifend lacus interdum a. Integer malesuada convallis imperdiet. Pellentesque molestie quam eget consectetur molestie. Integer nec egestas ante, in eleifend eros. Nulla ac metus at est mattis euismod. Cras vulputate dictum imperdiet. Donec at erat ut mi eleifend egestas id a tellus. Praesent at dapibus erat, ac convallis nisi. Curabitur id nibh diam. In a congue nisi, sodales mattis ipsum.
				</p>
					<img class="float-right mr-0 ml-3" src="../../global/images/placeholder-500x300.jpg"/>
				<p>
					Etiam molestie justo erat, vitae scelerisque nisi placerat quis. Proin sapien odio, sagittis id nisi commodo, aliquam tempor nunc. Donec eu aliquet libero, pulvinar auctor lectus. Maecenas ultricies nunc non varius dapibus. Fusce sit amet elementum purus, at luctus dolor. Ut vel bibendum odio. Cras blandit odio eget odio lobortis finibus eu sagittis odio. Aliquam lobortis magna ut libero mattis porttitor. Sed ut sagittis ipsum.	
				</p>
				
				<p>
					Phasellus et convallis purus, varius blandit libero. Donec imperdiet diam sapien. Sed eu imperdiet ante, sit amet sodales erat. Pellentesque faucibus erat eget diam posuere, eget convallis dolor placerat. Quisque ultricies vitae lorem ac vestibulum. Morbi sagittis massa nunc, sit amet vehicula nisi laoreet eu. Nulla et rhoncus odio.

					Nulla porttitor malesuada commodo. Donec finibus vehicula orci eget tincidunt. Mauris quis faucibus diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue pulvinar scelerisque. Maecenas maximus rhoncus faucibus. Sed in diam sit amet dui lacinia euismod nec sed nisl. Curabitur viverra elementum quam ut fringilla. In finibus ante sit amet purus vehicula, id vestibulum lectus tristique. Morbi porttitor at eros vitae tempor. Mauris dignissim eros eget lacus rutrum, sit amet venenatis lectus molestie. Nunc suscipit suscipit posuere.	
				</p>
			</div>
			
			<!-- -------------------- -->
			<!-- Heading        COPIED      -->
			<!-- -------------------- -->
			<div class="scomponent subra-heading text-center">
				<h1>Development Header</h1>
			</div>


			<!-- -------------------- -->
			<!-- TEXT IMAGE           -->
			<!-- -------------------- -->
			<div class="scomponent subra-text-image">
				<h2>Welcome!!!</h2>
				<p>Some exiting content coming soon..</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in diam vitae justo faucibus aliquet. Maecenas efficitur risus nec fringilla euismod. Etiam at mi non velit porttitor venenatis. Quisque gravida non nisl at suscipit. Nulla vel sapien et nunc vestibulum porta. Nulla at maximus neque. Nunc at commodo orci, quis efficitur metus. Vivamus gravida mi eros. Integer ut accumsan orci. Mauris quis odio nec risus finibus vehicula. Mauris a neque eu urna iaculis rutrum sit amet id leo. Phasellus vitae mi neque. Aenean orci quam, tincidunt ut scelerisque et, tristique a eros.
				</p>
				
				<p>
					Cras hendrerit vel sapien eget molestie. Proin est orci, mattis sit amet velit vitae, ultricies sollicitudin magna. Etiam consectetur odio sit amet diam sagittis, eu bibendum mauris posuere. Quisque imperdiet, orci sit amet posuere porttitor, ante mauris dictum leo, ut ultricies mauris diam eget turpis. Proin id cursus ante. Ut vitae feugiat lorem. Vivamus molestie gravida odio, vitae porttitor quam tristique id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Nulla facilisi. Donec interdum purus nec purus iaculis sagittis.
				</p>
				<img class="float-left ml-0 mr-3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
				<p>
					Maecenas convallis et orci in interdum. Nunc fermentum libero id leo commodo, ac convallis est laoreet. Pellentesque eget purus metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer sit amet consequat quam, eu molestie eros. Ut in eros eget erat pellentesque pharetra id eleifend felis. Vestibulum vestibulum mauris enim. Praesent vel sapien ultrices massa condimentum condimentum. Sed euismod luctus purus a vehicula. Fusce tincidunt mi nec lorem fermentum auctor. Nullam vel velit eu sapien sollicitudin ultricies. Curabitur sit amet arcu id diam consectetur consectetur vitae vel ligula. Fusce tincidunt in lectus nec fermentum. Nulla molestie a urna sed tincidunt. Donec ultrices mauris nunc, non egestas eros fermentum vitae.
				</p>
				<p>
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In nec libero non mauris condimentum blandit ultrices vel diam. Pellentesque semper massa id mauris aliquam, vel efficitur mi eleifend. Proin placerat nisi eros, et eleifend lacus interdum a. Integer malesuada convallis imperdiet. Pellentesque molestie quam eget consectetur molestie. Integer nec egestas ante, in eleifend eros. Nulla ac metus at est mattis euismod. Cras vulputate dictum imperdiet. Donec at erat ut mi eleifend egestas id a tellus. Praesent at dapibus erat, ac convallis nisi. Curabitur id nibh diam. In a congue nisi, sodales mattis ipsum.
				</p>
					<img class="float-right mr-0 ml-3" src="../../global/images/placeholder-500x300.jpg"/>
				<p>
					Etiam molestie justo erat, vitae scelerisque nisi placerat quis. Proin sapien odio, sagittis id nisi commodo, aliquam tempor nunc. Donec eu aliquet libero, pulvinar auctor lectus. Maecenas ultricies nunc non varius dapibus. Fusce sit amet elementum purus, at luctus dolor. Ut vel bibendum odio. Cras blandit odio eget odio lobortis finibus eu sagittis odio. Aliquam lobortis magna ut libero mattis porttitor. Sed ut sagittis ipsum.	
				</p>
				
				<p>
					Phasellus et convallis purus, varius blandit libero. Donec imperdiet diam sapien. Sed eu imperdiet ante, sit amet sodales erat. Pellentesque faucibus erat eget diam posuere, eget convallis dolor placerat. Quisque ultricies vitae lorem ac vestibulum. Morbi sagittis massa nunc, sit amet vehicula nisi laoreet eu. Nulla et rhoncus odio.

					Nulla porttitor malesuada commodo. Donec finibus vehicula orci eget tincidunt. Mauris quis faucibus diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue pulvinar scelerisque. Maecenas maximus rhoncus faucibus. Sed in diam sit amet dui lacinia euismod nec sed nisl. Curabitur viverra elementum quam ut fringilla. In finibus ante sit amet purus vehicula, id vestibulum lectus tristique. Morbi porttitor at eros vitae tempor. Mauris dignissim eros eget lacus rutrum, sit amet venenatis lectus molestie. Nunc suscipit suscipit posuere.	
				</p>
			</div>
			
		<link rel="stylesheet" href="scroll-to-top.css"/>
		<!-- -------------------- -->
		<!-- Scroll to top COPIED       -->
		<!-- -------------------- -->
		<div class="scomponent subra-scroll-top d-none">
			<img src="scroll-top.png" alt="back to top" title="back to top"/>
			<!-- <i class="fas fa-arrow-up"></i> -->
		</div>
		<script src="scroll-to-top.js"></script>
	</body>
</html>                                		                            