/* subra-banner */
.subra-banner {
    position: relative;
}
.subra-banner img {
    height: 90vh;
}

.subra-banner .hero {
	opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.subra-banner .hero h2 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.subra-banner .btn.btn-lg {
	padding: 10px 40px;
}
.subra-banner .btn.btn-hero,
.subra-banner .btn.btn-hero:hover,
.subra-banner .btn.btn-hero:focus {
    color: #fff;
    background-color: rgba(23, 97, 160, 0.8);
    border-color: rgba(23, 97, 160, 0.8);
    outline: none;
    margin: 20px auto;
}
@media screen and (min-width: 980px){
    .subra-banner .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .subra-banner .hero h2 { font-size: 4em; }    
}