# Configuration created by Apache Sling JCR Installer
facebook.OAuthAppAccessToken="EAAAALNXcWO0BAO5zLscZBALyrzD4yR5UUfUJi5OI9pvKMs1WFscD4qHXMcZCZAhOwbuADVu7Fdk4kDFZCAW9q9ikQqdw6Go0UpWD2dZCZCYXqkMMTwvyD8CUAKY6gNiZCIgaAqtDgvxOygM59EFN0T4HxWoVhOlxr1mGMEILUFKTwZDZD"
twitter.OAuthAcessToken="14390109-eZyXaxlffOrT8dGWT3BD436siZs8sG6U4l96lEdLH"
twitter.OAuthConsumerkey="mt8mVa8xEH8wVpS2FttIHYw9t"
linkedIn.accessToken="AQXwXMgIcNX43TSy5tV-hvH58niWqYsju8mTtfeVtPveQce8h-HlUCf50ej_SJhgizQYf5NsRtI9hLCfHzNzNLpKgzF4qZg3rEJohry8BMchpvZPGz_sAg0rEqFp7Y_u406A1ijIKWZl7XqnI3Kh2O0Db8d2HOsBngSvGePBA5SdUfUH4D8"
twitter.OAuthAcessTokenSecret="XPSZw6teh2bJvpRFAUVbYZXp5kWEaXVFrynmZZF9kzWpZ"
linkedIn.companyID="1318"
youtube.channelname="Subravideos"
facebook.CompanyId="SubraLimited"
youtube.clientkey="AIzaSyDD_6agCrGHFhsPkaUz8X_V-A8CjzO4VEQ"
twitter.OAuthConsumerSecret="UdJx01yUnzkrtZsofYA5tNYyOIzhfuSfUpfJWQr7eOsSqD9sdD"
