<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>heading</title>
		
		
		<link rel="stylesheet" href="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-bootstrap\4.3.1\css\bootstrap.css" />
		<link rel="stylesheet" href="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-fontawesome\css\4.7.0\font-awesome.css"/>
		<link rel="stylesheet" href="..\..\..\..\..\..\..\foundation.ui.content\src\main\content\jcr_root\etc\clientlibs\subra\fonts-happymonkey\css\fonts.css">
		<link rel="stylesheet" href="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-global\css\global.css">
		
		<script src="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-jquery\clientlib-jquery-standalone\js\jquery-3.4.1.js"></script>
		<script src="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-bootstrap\4.3.1\js\bootstrap.bundle.js"></script>
		
		<script src="..\..\..\..\content\jcr_root\apps/kajado\clientlibs\third-party\clientlib-masonry\js\masonry.js"></script>
		
		<script src="..\..\..\..\content\jcr_root\apps/kajado\clientlibs\clientlib-global\js\ajax-manager.js"></script>
		<script src="..\..\..\..\content\jcr_root\apps/kajado\clientlibs\clientlib-global\js\cookie-manager.js"></script>
		<script src="..\..\..\..\content\jcr_root\apps/kajado\clientlibs\clientlib-global\js\url-manager.js"></script>
		<script src="..\..\..\..\content\jcr_root\apps/kajado\clientlibs\clientlib-global\js\test.js"></script>
		
		<link rel="stylesheet" href="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-global\css\home.css"/>
		<link rel="stylesheet" href="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-global\css\carousel.css"/>
		<link rel="stylesheet" href="..\..\..\..\content\jcr_root\apps\kajado\clientlibs\clientlib-global\css\mansory.css"/>
	</head>
	<body class="subra">
			<link rel="stylesheet" href="heading.css"/>
		
			<!-- -------------------- -->
			<!-- Heading        COPIED      -->
			<!-- -------------------- -->
			<div class="scomponent subra-heading text-center">
				<h1>Development Header</h1>
			</div>
			
	</body>
</html>                                		                            